/* Style the links inside the sidenav */
body {
    background-color:#ffffff;
}

* {
    border: 1px solid black;
    margin:0;
    padding:0;
}

#banner{
    display: block;
}

#page{
    display: block;
}


.banner-content{
    display: inline-block;
    vertical-align: middle;
}

.page-content{
    display: inline-block;
    bottom: 10px;
    top: 40px;
}

#mitch_cage{
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#mitch_head {
    position: relative;
    left:-50%;
}

#stuff {
    position: fixed;
    left: 10px;
    right: 10px;
    margin-top: 10px;
    transition: .5s;
}

#slider {
    position: fixed;
    left: -200px;
    top: 40px;
    bottom: 0px;
    width: 200px;
    transition: .5s;
    visibility: hidden;
}

#currentTab {
    background-color: grey;
}

.fa-bars {
    font-size: 20px;
    padding: 5px;
}

.fa-shopping-cart {
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}


.tabs {
    display: block;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    color: inherit;
}

#disclosure {
    position: absolute;
    bottom: 0;
}

#selection-container {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    top: 30px;
    left: 10px;
}

.selections {
    display: inline-block;
}




  
